
<div class="form-group">
     
    <div class="btn-group hierarchy-select" data-resize="auto" id="sectors">
            
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
         
            <span class="selected-label pull-left">&nbsp;</span>
         
            <span class="caret"></span>
         
            <span class="sr-only">Toggle Dropdown</span>
         
        </button>
         
        <div class="dropdown-menu open">
         
            <div class="hs-searchbox">
         
                <input type="text" class="form-control" autocomplete="off">
         
            </div>
         
            <ul class="dropdown-menu inner" role="menu">
         
                <li data-value="" data-level="1" class="level-1" >
         
                    <a href="#">Choose a sector</a>
         
                </li> 

                {% for sector in sectors %}

                    <li data-value="{{ sector.externalId|e }}" {% if sector.externalId == selectedSector %} data-default-selected=""{% endif %}
                    data-level="{{ sector.level|e }}" class="sectors level-{{ sector.level|e }}">
             
                        <a href="#" data-value="{{ sector.externalId|e }}" data-level="{{ sector.level|e }}" >{{ sector.name|e }}</a>
             
                    </li>

                {% endfor %}
         
            </ul>
         
        </div>
         
        <input class="hidden hidden-field" search_form[category]" readonly="readonly" aria-hidden="true" type="text" value="{{ selectedSector }}" />
         
    </div>
 
</div>
