{% extends 'base.html.twig' %}

{% block title %} Record {% endblock %}

{% block body %}

<div class="registration">
	<h2>Please fill the form </h2>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form, {'method': 'POST','attr': {'id': 'track'}}) }}
        <div class="row" style="width:350px;">
        	{{ form_row(form.user)}}
    		{{ include('user_track/_sectors.html.twig') }}
        	{{ form_row(form.sector)}}
            {{ form_row(form.terms)}}
        	{{ form_row(form.register)}}
            {% set formErrors = form.vars.errors.form.getErrors(true) %}
                                            
        </div>

        <div class="row">
            {% if formErrors|length %}
                    {% for error in formErrors %}
                        <div class="alert alert-danger" role="alert">
                          {{ error.message|capitalize }}
                        </div>                    
                    {% endfor %}
            {% endif %}
        </div>

    {{ form_end(form) }}
</div>

<script type="text/javascript">
 
    $(document).ready(function() {
 
        $('#sectors').hierarchySelect({
            initialValueSet:true,
            hierarchy: true,
            width: '350px',
            search: true,
            onChange: function (value) {
                console.log('[Three] value: "' + value + '"');
            }
        });

 
        const submitTrack = function(event) {
            
            event.preventDefault();

            const sector = $('.sectors.active').data('value');

            if(sector == undefined || sector < 1 ){
                alert('Choose a sector, is mandatory');
                return false;
            }
            
            $("#user_track_sector").val(sector);

            this.submit();
        };

        const form = document.getElementById("track");

        form.addEventListener("submit", submitTrack, true);

    });

 
</script>

{% endblock %}
