{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="col text-center">
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    </div>
    <div class="row login-form">
        <div class="form-group pt-2">
            <label for="inputUsername" class="control-label" for="username">Username</label>
            <div class="">
                <input placeholder="username" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            </div>
        </div>
        <div class="form-group pt-2">
            <label for="inputPassword" class="control-label" for="password">Password</label>
            <div class="">
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
        </div>
        {#

            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="col text-center">
            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </div>
    </div>
</form>
{% endblock %}
