{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
	<div>
	<h2>List of user registrations</h2><p> name and preferred sector</p>
</div>
    {% for track in tracks %}
		<div class="alert alert-dark" role="alert">
		  <strong>{{ track.user().getUserName()|capitalize  }}:</strong> {{ track.sector().getName() }}
		</div>
    {% endfor %}
{% endblock %}
