{% extends 'base.html.twig' %}

{% block title %}Register account{% endblock %}

{% block body %}

<div class="registration">
	<h2>Register your account </h2>
    {{ form(form) }}
    <div class="row">
    	{% set formErrors = form.vars.errors.form.getErrors(true) %}
	    {% if formErrors|length %}
	            {% for error in formErrors %}
	                <div class="alert alert-danger" role="alert">
	                  {{ error.message|capitalize }}
	                </div>                    
	            {% endfor %}
	    {% endif %}
    </div>    
</div>
{% endblock %}
