<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link href="{{ asset('css/hierarchy-select.css') }}" rel="stylesheet">
        
        <script src="{{ asset('js/hierarchy-select.js') }}"></script><!--  -->

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{path('index')}}">User track</a>
                </div>
                <ul class="nav navbar-nav">
                    {% if app.user %}
                        <li><a href="{{path('sector_show', {'user':app.user.id})}}">Insert your information</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li>
                            <a href="{{path('app_logout')}}"><span class="glyphicon glyphicon-log-out"></span>Logout {{ app.user.username|capitalize }}</a>
                        </li>
                    {% else %}                    
                        <li><a href="{{path('register')}}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                        <li><a href="{{path('app_login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>    
    	<div class="container">
	        {% block body %}{% endblock %}
	        {% block javascripts %}{% endblock %}
        </div>	
    </body>
</html>
