{% extends 'base.html.twig' %}

{% block title %}Hello SectorController!{% endblock %}

{% block body %}

<div class="example-wrapper">


    {% for sector in sectors %}

        <li data-value="{{ sector.externalId|e }}" data-level="{{ sector.level|e }}" class="sectors level-{{ sector.level|e }}">
 
            <a href="#">{{ sector.name|e }}</a>
 
        </li>

    {% endfor %}


</div>
{% endblock %}
